.ntitle {
    font-family: 'Brush Script MT', cursive;
    margin-top: 50px;
}
.nbody {
     font-family: 'Brush Script MT', cursive;
     font-size: 20px;
     line-height: 40px;
     margin-top: 25px;
     margin-bottom: 25px;
}
.ntile {background: hsla(7, 61%, 92%, 1);

    background: linear-gradient(270deg, hsla(7, 61%, 92%, 1) 0%, hsla(359, 57%, 77%, 1) 29%, hsla(359, 57%, 77%, 1) 100%);
    
    background: -moz-linear-gradient(270deg, hsla(7, 61%, 92%, 1) 0%, hsla(359, 57%, 77%, 1) 29%, hsla(359, 57%, 77%, 1) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(7, 61%, 92%, 1) 0%, hsla(359, 57%, 77%, 1) 29%, hsla(359, 57%, 77%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7E1DE", endColorstr="#E6A4A5", GradientType=1 );}